<h1>{{title2 | titlecase}}</h1>
<main>
  <h2>Custom Pipe</h2>
  <div class="div">
    <h3>Temperature Converter App</h3>
    <p>Fahrenheit to Celsius</p>
    <p>Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" /></p>
    <p>Temperature is : " {{ Fahrenheit | tempConverter : 'C' }} " C</p>
    
    <br>

    <p>Celcius to Fahrenheit</p>
    <p>Celcius : <input type="text" [(ngModel)]="Celsius" /></p>
    <p>Temperature is : " {{ Celsius | tempConverter: 'F' }} " F</p>
  </div>
</main>

<br><br>

<h1>{{title3 | titlecase}}</h1>
<main>
  <h2>Custom Pipe</h2>
  <div style="background-color: cornflowerblue;">
    <h3>String Convert Into Array</h3>
    <p>String Input : <input type="text" [(ngModel)]="str_to_arr" /> </p>
    <p>Array Output : [ {{ str_to_arr | customPipe }} ]</p>
  </div>
</main>

<br><br>

<h1>{{title4 | titlecase}}</h1>
<main>
  <h2>Custom Pipe</h2>
  <div style="background-color: rgb(66, 249, 97);">
    <h3>Reverse String</h3>
    <p>String Input : <input type="text" [(ngModel)]="reverse_str" /> </p>
    <p>Reverse String Output :  {{ reverse_str | reverse | uppercase }} </p>
  </div>
</main>

<br><br>

<main>
  <h2>Custom Pipe Use in Name for Adding Mr or Mrs</h2>
  <table border="1">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>CourseFee</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let student of students'>
            <td>{{student.ID | uppercase}}</td>
            <td>{{student.Name | table:student.Gender }}</td>
            <td>{{student.DOB | date:'dd/MM/yyyy'}}</td>
            <td>{{student.Gender | lowercase}}</td>
            <td>{{student.CourseFee | currency:'USD':true}}</td>
        </tr>
    </tbody>
  </table>
</main>

<main>
  <h2>Here I Create json file in assets and called in service also implement interface then called in component and added custom pipe to add mr or mrs</h2>
  <table border="1">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>CourseFee</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let catro of student">
            <td>{{catro.ID | uppercase}}</td>
            <!-- <td>{{catro.Name | table:student.Gender }}</td> -->
            <td>{{catro.Name | table:catro.Gender }}</td>
            <td>{{catro.DOB | date:'dd/MM/yyyy'}}</td>
            <td>{{catro.Gender | lowercase}}</td>
            <td>{{catro.CourseFee | currency:'USD':true}}</td>
        </tr>
    </tbody>
  </table>
</main>

<main>
  <h2>Bangladeshi Taka To Below Currency Converter</h2>
  <div style="background-color: rgb(66, 215, 249);">
    <p>BDT(Bangladeshi Taka) : <input type="text" [(ngModel)]="BDT" /></p>
    <p>USD is : " {{ BDT | currencyConverter : 'USD' }} "</p>
    <p>EUR is : " {{ BDT | currencyConverter : 'EUR' }} "</p>
    <p>INR is : " {{ BDT | currencyConverter : 'INR' }} "</p>
    <p>PKR is : " {{ BDT | currencyConverter : 'PKR' }} "</p>
    <p>LRD is : " {{ BDT | currencyConverter : 'LRD' }} "</p>
    <p>EGP is : " {{ BDT | currencyConverter : 'EGP' }} "</p>
  </div>
</main>