h1,h2,h3{
    text-align: center;
    color: rgb(246, 14, 10);
}
p{
    margin: 25px;
}
main{
    display: grid;
    place-items: center;
}
div{
    width: auto;
    background:cyan;
    height: auto;
  }
  table,tr,td,th{
    border-collapse: collapse;
    text-align: center;
    tr,td,th{
        margin: 15px;
    }
  }


